

<div class="content-container justify-content-center d-flex flex-wrap gap-4">
    
<section class="content flex-grow-1 d-flex flex-column justify-content-center align-items-center">
         <img src="assets/images/svg/singup.svg" alt="singup" class="img-fluid">
            <h1 class="text ">You are successfully registered!</h1>
            <button type="button" class="btn btn-primary">
                Let's Start
                <img src="assets/images/icon/leftArrow.svg" alt="leftarrow">
            </button>
</section>
</div>