<div class="d-flex flex-column align-items-center justify-content-center ">
    <div class="step">
        <span>STEP 1/4</span>
        <h2>Valid your phone</h2>
    </div>
    <div class="validation-content">
        <form action="post">
            <div class="mobile-section">
                <label for="mobile" class="label form-label">Mobile Number</label>
                <input class="input form-control" type="text" id="mobile" name="mobile" placeholder="Enter your mobile number" required>
                <input class="input form-control" type="text" id="mobile" name="mobile" placeholder="Enter your mobile number" required>
            </div>
            <div class="sms-section">
                <label for="sms" class="label form-label">SMS Code</label>
                <input class="input form-control" type="text" id="sms" name="sms" placeholder="Enter the SMS code" required>
            </div>
            <div class="sms-error">
                <img src="" alt="">
                <p class="error-message">Invalid SMS code. Please try again.</p>
            </div>
            <div class="email-section">
                <label for="email" class="label form-label">Email Address</label>
                <input class="input form-control" type="email" id="email" name="email" placeholder="Enter your email address" required>
            </div>
            <div class="password-section">
                <label for="password" class="label form-label">Create Password</label>
                <input class="input form-control" type="password" id="password" name="password" placeholder="Create a password" required>
            </div>
        </form>
    </div>
    
</div>