
:root {
    --neutral-50:   hsla(0,   0%,  100%, 0.5);
    --neutral-100:  hsla(0,   0%,  100%, 1);

    --neutral-200:  hsla(207, 69%, 97%, 1);
    --neutral-300:  hsla(211, 19%, 92%,  1);

    --neutral-350:  hsla(220, 43%, 89%, 1);
    --neutral-400:  hsla(217, 9%, 53%, 1);

    --neutral-500:  hsla(217, 76%, 16%, 1);
    --primary:      hsla(216, 100%, 62%, 1);

 }
 



