
@use "sass:map";
@use "sass:color";


:root {
    --neutral-50:   hsla(0,   0%,  100%, 0.5);
    --neutral-100:  hsla(0,   0%,  100%, 1);

    --neutral-200:  hsla(207, 69%, 97%, 1);
    --neutral-300:  hsla(211, 19%, 92%,  1);

    --neutral-350:  hsla(220, 43%, 89%, 1);
    --neutral-400:  hsla(217, 9%, 53%, 1);

    --neutral-500:  hsla(217, 76%, 16%, 1);
    --primary:      hsla(216, 100%, 62%, 1);
 }

 $theme-colors: (
  "primary": hsla(216, 100%, 62%, 1) ,
  "secondary": hsla(217, 76%, 16%, 1)
);


@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-color: $value;
    color: var(--neutral-100);
 
     &:hover {
      background-color: color.scale($value, $lightness: -10%);
      color: var(--neutral-100);  
      box-shadow: 0 0 0 0.2rem var(--neutral-200); 
     }
  }
  .btn-outline-#{$color} {
    background-color: transparent;
    color: $value;
    border: 1px solid var(--neutral-350);

    img{
       filter: brightness(0) saturate(100%) invert(52%) sepia(80%) saturate(3175%) hue-rotate(199deg) brightness(99%) contrast(104%);
    }
    &:hover {
      background-color: var(--primary);
      color: var(--neutral-100);    
      border:1px solid transparent;  
      img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(105%) contrast(104%);
      }
    }

    &:focus ,
    &:first-child:active {
      background-color:transparent;
      color: var(--primary);
      border:1px solid transparent;  
      img{
       filter: brightness(0) saturate(100%) invert(52%) sepia(80%) saturate(3175%) hue-rotate(199deg) brightness(99%) contrast(104%);
    }
    }

    &:disabled {
    opacity: 0;
  }
    
  }

}

