.side-content{
    @media (max-width: 992px) {
        flex-direction: row;
        gap: 0.7rem;
    }
    @media (max-width: 768px) {
        gap: 0.5rem;
        align-items: center;
        .main-logo{
            inline-size: 44px;
            @media (max-width:567px) {
             display: none
            }
        }
        .text-heading{
            font-size: 25px;
             @media (max-width:567px) {
             display: none
            }
    }   
    }
}
aside {
    max-width: 600px;
    background-color: var(--primary);
    padding: 3.5rem 2rem;
    border-radius: 1.5rem ;
    gap:2rem;
    @media (max-width: 992px) {
       min-inline-size: 100%;
        border-radius: 1rem;
        padding: 1rem ;
    }
    @media (max-width: 768px) {
        padding: 12px 0 0 0   !important;
        // inline-size: 100%;
        max-block-size: 150px;
        align-items: center;
        justify-self: center;
        gap: 0;   
    }
    @media (max-width: 567px) {
       inline-size: 100%;
       align-items: center;
       justify-self: center;
       padding: 0;
       gap: 0; 
    }
    .stepper{
          @media (max-width: 992px) {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              padding: 1rem 0;
              inline-size: 100%;
          }
    }
      .step-vertical {
        display: flex;
        position: relative;
        padding: 1rem 0;
        cursor: pointer;
        transition: all 0.3s ease;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0.5rem 0.25rem;
            flex: 1;
         }
        @media (max-width:576px) {
            padding: 0.25rem 0.1rem;
        }
        &:not(:last-child)::before {
            content: "";
            position: absolute;
            inset-inline-start: 11px;
            inset-block-start: 50px;
            block-size: calc(40% - 5px);
            inline-size: 3px;
            z-index: 1;
            border-radius: 8px;
            @media (max-width: 992px) {
                block-size: 2px;
                inset-block-start: 19px;
                inset-inline-start: 80%;
                inline-size: 4rem;
            }
          
            @media (max-width: 576px) {
                inset-block-start: 12px;
                inset-inline-end: -50%;
                inset-inline-start: 80%;
                inline-size: 30px;
            }
        }
        .step-vertical-content{
         padding:0 1rem  ;
         @media (max-width: 768px) {
              .text-span{
                display: none;
            }
         @media (max-width: 567px) {
            display: none;
        }
         }
        }    
        &.inactive:not(:last-child)::before {
         background: var(--neutral-50);

        }
       &.active:not(:last-child)::before,
       &.complete:not(:last-child)::before{
           background: var(--neutral-100);
            }
        .step-vertical-icon {
                inline-size: 25px;
                block-size: 25px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 2;
                margin-bottom: 10px;
                @media (max-width: 992px) {
                     inline-size: 40px;
                }
                @media (max-width:576px) {
                    inline-size: 20px;
                    block-size: 20px;
                }

        } 
    } 
}





.content-container {
    background-color: var(--neutral-200);
    min-block-size: 100vh;
    padding: 20px;
    @media (max-width:992px) {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 19px

    }
    .content {
        background-color: var(--neutral-100);
        border-radius: 14px;
        padding: 1rem;
        .navigation-buttons{
            border-top: 1px solid var(--neutral-300);
            padding: 1rem 0 ;
        }
    }
}


    