.input{
    background-color: var(--neutral-100);
    color: var(--neutral-400);
    border: 1px solid var(--neutral-350);
    font-size: 14px;
    padding: 10px;
}
.label{
    color: var(--neutral-400);
    font-size: 14px;
    font-family: "NunitoSans-Bold";
}