

.add-member {
    .btn {
        background: var(--neutral-50);
        color: var(--primary);
        padding: 1rem !important;
        transition: all 0.2s ease;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0 !important;
           
        .img-content {
            width: 20px;
            height: 20px;      
        }     
    }
}
